<% provide(:title, 'Sign in') %>
<div class="container">
  <h1 class="well"><%= t('login') %></h1>
</div>

<div class="col-lg-12 well">
  <%= form_for(:session, url: sessions_path) do |f| %>

    <%= f.label :email, t('email') %>
    <%= f.text_field :email %>

    <%= f.label :password, t('password') %>
    <%= f.password_field :password %>

    <%= f.submit t('login'), class: "btn btn-large btn-primary", id: "registration_button" %>

  <% end %>
  <p><%= t('new_user') %> <%= link_to t('registration'), signup_path %></p>
</div>

