<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'Blog', root_path, id: 'logo' %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to t('home'),    root_path %></li>
	        <% if current_user.present? %>
            <li><%= link_to t('my_page'), current_user %></li>
            <li><%= link_to t('sig_out'), signout_path, method: "delete" %></li>
            <li><%= link_to t('my_posts'), user_posts_path(current_user) %></li>
		      <% else %>
          <li><%= link_to t('sign_in'), new_user_path %></li>
        <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>